/* Variables Start */

:root {
  --color-primary: #1188fc;
  --color-accent: #30d030;
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-hover-text: #ffffff;
  --card-shadow: inset -1px -1px 5px -2px rgba(0, 0, 0, 0.4);
  --card-hover: rgba(33, 33, 33, 1);
}

/* Dark theme variables */
[data-theme="dark"] {
  --bg-color: #333333;
  --heading-color: #ffffff;
  --text-color: #ffffff;
  --color-accent: #30d030;
  --card-shadow: inset -1px -1px 5px -1px rgba(255, 255, 255, 0.4);
  --card-hover: rgba(250, 252, 255, 0.1);
}

/* Variables End */

/* Reset Start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

ul,
ol {
  /* list-style: none;
	margin: 0; */
  list-style: none;
  padding-left: 0;
}

ul,
ol > li {
  margin-left: 0.8em;
}

li:not([class])::before {
  content: "- ";
  margin-left: -0.8em; /* Pull the dash back into the margin */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Reset End */

.theme-toggle {
  position: absolute;
  top: -4px;
  right: 0px;
  align-items: center;
}

.button__toggle {
  min-width: 2.5rem;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Make the label the clickable area */
.button__toggle {
  z-index: 1; /* Ensure the label stays clickable */
}

/* Hide radio buttons but keep them functional */
.button__toggle input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

/* Hide all icons by default */
.button__icon {
  display: none;
  pointer-events: none; /* Prevents icon from blocking clicks */
}

/* Show only relevant icon based on theme */
html[data-theme="dark"] .button__toggle .fa-sun {
  display: inline-block;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

html[data-theme="light"] .button__toggle--sun,
html[data-theme="light"] .fa-sun {
  display: none;
}

html[data-theme="light"] .button__toggle .fa-moon {
  display: inline-block;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

html[data-theme="dark"] .button__toggle--moon,
html[data-theme="dark"] .fa-moon {
  display: none;
}

/* Hover effect */
.button__toggle:hover .button__icon {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", serif;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: 1rem;
}

h2 {
  color: var(--color-primary);
}

hr {
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.header__title {
  display: flex;
  margin-bottom: 0rem;
}

.header__logo__bar::before {
  content: "";
  position: relative;
  display: inline-block;
  /* height: 1.2rem; */
  height: clamp(0.7rem, 3vw, 0.9rem);
  width: 0.35rem;
  margin-top: 0.2rem;
  margin-left: 0.25rem;
  background-color: #1188fc;
  opacity: 0.8;
  transform: skew(-30deg, 0);
}

.header__logo__bar:nth-child(2)::before {
  opacity: 0.8;
  margin-left: 0.05rem;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-accent)
  );
}

.header__logo__bar:nth-child(3)::before {
  opacity: 0.8;
  margin-left: 0.05rem;
  background-color: var(--color-accent);
}

.header__title--small {
  display: block;
  color: var(--color-accent);
  /* font-size: 1.75rem; */
  font-size: clamp(1rem, calc(4vw + 0.0125rem), 1.25rem);
  padding-right: 0.25rem;
  /* text-align: center; */
}

.header__title__subtitle--small {
  /* font-size: 1.75rem; */
  font-size: clamp(1rem, calc(4vw + 0.0125rem), 1.25rem);
  font-weight: bold;
  color: var(--color-primary);
}

.header__title--medium {
  display: none;
}

.header__title__subtitle--medium {
  color: var(--color-primary);
}

.header__contact-us {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.header__contact-us a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  color: white;
  background: var(--color-accent);
  cursor: pointer;
  border-radius: 5px;
}

@media (min-width: 585px) {
  .theme-toggle {
    top: 2px;
    right: 0px;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__logo__bar::before {
    height: 1.05rem;
    margin-left: 0.25rem;
  }

  .header__contact-us {
    display: flex;
    margin-top: 0rem;
    margin-right: 2.5rem;
    justify-content: flex-end;
    flex: 1;
  }

  .header__contact-us a {
    width: fit-content;
  }

  .header__title--small {
    display: none;
  }

  .header__title--medium {
    display: block;
    color: var(--color-accent);
  }

  .header__contact-us a {
    display: inline-block;
  }
}

.header__build--latest {
  font-size: 0.8rem;
  font-weight: 400;
}

.header__build--previous,
.header__nav {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  font-variant: small-caps;
  color: var(--color-accent);
}

.header__build--previous::after {
  content: "->";
  position: absolute;
  top: 2px;
  padding-left: 0.25rem;
}

.header__nav {
  padding-left: 20px;
}

.header__nav::after {
  content: "<-";
  position: absolute;
  top: 2px;
  left: 0px;
}

.hero {
  margin-bottom: 0rem;
}

.services {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.services__contact-us {
  justify-self: flex-end;
  margin-bottom: 0rem;
}

.services__contact-us a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  color: white;
  background: var(--color-accent);
  cursor: pointer;
  border-radius: 5px;
}

@media (min-width: 585px) {
  .services__contact-us {
    display: none;
  }
}

/* .profile {
  flex: 1;
  min-width: 20rem;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  margin-bottom: 0;
  container-type: inline-size;
  container-name: profile;
}

.profile__intro {
  margin-bottom: 1rem;
}

.profile__contact__title {
  margin-bottom: 1rem;
}

.profile__contact-details {
  margin-bottom: 0.5rem;
}

.profile__contact-details__method {
  width: fit-content;
  color: whitesmoke;
  background-color: forestgreen;
  padding: 0rem 0.5rem 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  font-variant: small-caps;
  display: block;
}

@container profile (min-width: 500px) {
  .profile__contact-details {
    margin-bottom: 0.75rem;
  }

  .profile__contact-details:last-child {
    margin-bottom: 1.25rem;
  }
  .profile__contact-details__method {
    display: inline;
  }
}

.profile__contact-details__method-colon {
  font-size: 0.8rem;
}

.profile__skill-sets__card {
  margin-top: 1rem;
}

.profile__projects--last__5__years {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.profile__projects__card {
  margin-top: 1rem;
}

.profile__work-history {
  width: 100%;
}

.profile__work-history--last__10__years {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.profile__work-history__card:first-child {
  margin-top: 0.25rem;
}

.profile__work-history__card {
  margin-top: 1rem;
}

.profile__work-history__details {
  display: flex;
  margin: 0;
}

.profile__work-history__type {
  width: fit-content;
  color: whitesmoke;
  background-color: forestgreen;
  padding: 0rem 0.5rem 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  font-variant: small-caps;
}

.profile__work-history__type-colon {
  font-size: 0.8rem;
}

.profile__work-history__date {
  flex: 1;
  text-align: end;
  margin: auto 0;
}

.profile__work-history--previous {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  font-variant: small-caps;
  color: forestgreen;
}

.profile__work-history--previous::after {
  content: "->";
  position: absolute;
  top: 2px;
  padding-left: 0.25rem;
}

.training {
  flex: 0;
  min-width: 20rem;
  max-width: 25.27rem;
}

.training--previous {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  font-variant: small-caps;
  color: forestgreen;
}

.training--previous::after {
  content: "->";
  position: absolute;
  top: 2px;
  padding-left: 0.25rem;
}

.training__date {
  margin-top: 0.5rem;
}

.training__date + .training__card {
  margin-top: 0.25rem;
}

.training__card {
  margin-top: 1rem;
}

.build__card {
  margin-top: 1rem;
} */
